
<div class='posts'> 
  <%@posts.each do |post|%>
    <ul>
      <li>
        <form name="upvote" method="POST" action="/post_upvote">
          <input type="hidden" name="post_id" value="<%=post.id%>">
          <input type='submit' value='Up'>
        </form>
      </li>
      <li>        
        <form name="downvote" method="POST" action="/post_downvote">
          <input type="hidden" name="post_id" value="<%=post.id%>">
          <input type='submit' value='Down'>
        </form>
      </li>
      <li><a href="/posts/<%=post.id%>"><%=post.title%></a></li>
      <ul>
        <li><%=post_score(post)%> point(s) | </li>
        <li><%=post.user.name%></li>
      </ul>
    </ul>
  <%end%>
</div>
