
<div class='posts'> 
    <ul>
      <li><%=@post.title%></li>
      <li><%=@post.user.name%></li>
      <li><%=@post.body%></li>
    </ul>
    <form method="post" action="/new_comment/<%=@post.id%>">
      <textarea name="body" placeholder="enter your comments!"></textarea>
      <input type="submit" value="submit">
    </form>

    <% @post.comments.each do |comment| %>
      <ul>
        <li><%=comment.user.name%></li>
        <li><%=comment.body%>
      </ul>
    <% end %>
  <a href="/">Home</a>
</div>
