
<div class='posts'> 
    <ul>
      <li><%=@post.title%></li>
      <li><%=@post.user.name%></li>
      <li><%=@post.body%></li>
    </ul>
    <form method="post" action="/new_comment/<%=@post.id%>">
      <textarea name="body" placeholder="enter your comments!"></textarea>
      <input type="submit" value="submit">
    </form>

    <% @post.comments.each do |comment| %>
      

      <ul>
        <li>
          <form name="upvote" method="POST" action="/comment_upvote">
            <input type="hidden" name="comment_id" value="<%=comment.id%>">
            <input type='submit' value='Up'>
          </form>
        </li>
        <li>        
          <form name="downvote" method="POST" action="/comment_downvote">
            <input type="hidden" name="comment_id" value="<%=comment.id%>">
            <input type='submit' value='Down'>
          </form>
        <ul>
          <li><%=comment_score(comment)%> point(s) | </li>
          <li><%=comment.user.name%></li>
        </ul>
      </ul>


      <ul>
        <li><%=comment.user.name%></li>
        <li><%=comment.body%>
      </ul>
    <% end %>
  <a href="/">Home</a>
</div>
